* a {
    color: inherit;
    text-decoration: none;
}

ul {
    padding-left: 0;    
}

ul li {
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
}

.empty-list-warning {
    font-size: 25px;
}

/* header */
.navbar {
    background-color: #d3d3ec;
    padding: 15px;
}
.navbar .search-input {
    float: left;
    width: 70%;
}

.navbar .search-button {
    float: left;
    width: 30%;
}

/* footer */
.footer {
    background-color: #e8e8e8;
    color: #333;
    padding-top: 15px;
}

.footer h1 {
    color: #333;
    font-size: 25px;
}

.footer ul li {
    color: #666;
}

/* content */
.page-content {
    padding: 35px 0;
}

.recipe-title {
    font-size: 22px;
    padding-left: 5px;
    padding-right: 5px;
}

.recipe-difficulty,
.recipe-duration {
    display: block;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    width: 50%;
}

.recipe-difficulty i.bi-star-fill {
    color: gold;
}

/* recipe content */
.recipe-dates,
.recipe-author {
    width: 50%;
}

.recipe-author {
    text-align: right;
}

.recipe-description {
    padding-top: 15px;
}

.recipe-content-list,
.recipe-steps-list {
    padding-top: 30px;
}

.recipe-content-item,
.recipe-steps-item {
    list-style-type: upper-roman;
    list-style-position: inside;
    padding-bottom: 5px;
}

.recipe-content-item::marker,
.recipe-steps-item::marker {
    color: #a5a5d4;
}

/* css */
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    border: 1px solid #aaa;
    border-radius: 10px;
    box-shadow: 3px 3px #eee;
}

/*
@media screen and (max-width: 768px) {

}*/