{% extends "base.html" %}
{% block title %}This is the index{% endblock %}
{% include "header.html" %}
{% block content %}
<div class="container">
    <ul class="row">
        {% if recipes|length == 0 %}
            <h1 class="empty-list-warning">No recipes for {{ category.name|lower }}</h1>
        {% else %}    
            <h1>{{ category.name }}</h1>        
        {% endif %}
        
        {% for recipe in recipes %}
            {% include 'recipe-card.html' %}
        {% endfor %}

    </ul>
</div>
{% endblock %}