{% extends "base.html" %}
{% block title %}This is the index{% endblock %}
{% include "header.html" %}
{% block content %}
<div class="container">
    <ul class="row">
        {% if recipes|length == 0 %}
            <h1 class="empty-list-warning">No recipes for {{ category.name|lower }}</h1>
        {% else %}    
            <h1>{{ category.name }}</h1>        
        {% endif %}
        
        {% for recipe in recipes %}
            {% include 'recipe-card.html' %}
        {% endfor %}
        {% if paginator.num_pages > 1 %}
        {{ paginator.page_range }}
        {% if recipes.has_previous %}<a href="?page={{ recipes.previous_page_number }}"><--</a>{% endif %}
        <div class="col-12 d-flex justify-content-center my-4">{{ recipes.number }}</div>        
        {% if recipes.has_next %}<a href="?page={{ recipes.next_page_number }}">--></a>{% endif %}
        {% endif %}

    </ul>
</div>
{% endblock %}