<header>
    <nav
        class="navbar sticky-top navbar-expand-lg justify-content-between"
    >
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="static/logo.png" alt="Branding" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerHeader" aria-controls="navbarTogglerHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerHeader">
                <ul class="navbar-nav">
                    {% for category in all_categories %}
                    <li class="nav-item">
                        <a
                            class="nav-link"
                            href="{% url 'category' category.id %}"
                        >
                            {{category.name}}</a
                        >
                    </li>
                    {% if category.length >= 5 %}<!-- TODO collapse if theres a lot -->>{% endif %}
                    {% endfor %} {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account' %}">
                            <i class="bi bi-person"></i> {{ request.user.username }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create_recipe' %}">
                            <i class="bi bi-plus"></i> Criar
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Sair</a>
                    </li>
                    {% else %}
                    <li class="nav-item btn-login-header">
                        <a class="nav-link" href="{% url 'login' %}"
                            ><i class="bi bi-box-arrow-in-right"></i> Entrar</a
                        >
                    </li>
                    {% endif %}
                </ul>
                <form
                    class="form-inline search-form-header"
                    method="post"
                    action="{% url 'search-recipes' %}"
                >
                    {% csrf_token %}
                    <div class="form-group mx-lg-1">
                        <input
                            class="form-control search-input mr-sm-2"
                            name="search-recipes"
                            type="search"
                            placeholder="Buscar receitas..."
                            aria-label="Buscar"
                        />
                        <button
                            class="btn btn-outline-secondary search-button my-2 my-sm-0"
                            type="submit"
                        >
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</header>
