{% extends "base.html" %}
{% block content %}

<div class="container">

    <div class="row">
        {% if page == 'login' %}
        <form class="form form-signin" method="POST" action="" onsubmit="passwordInputChangeBeforeSubmit()">
            {% csrf_token %}
            {% for message in messages %}
                <div class="alert alert-danger">
                    <a class="close" href="#" data-dismiss="alert">×</a>
                    {{ message }}
                </div>
            {% endfor %}
            <div class="form-group">
                <label class="sr-only" for="email">Endereço de email</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Senha">
                <span class="password-show-toggle" onclick="passwordShowToggle()">
                    <i class="bi bi-eye"></i>
                </span>
            </div>
            <div class="form-group py-2">
                <button type="submit" class="btn btn-primary">Entrar</button>
            </div>            
            <div class="form-group">
                <label class="float-start">
                    <a href="{% url 'register' %}">Criar conta</a>
                </label>
                <label class="float-end">
                    <a href="{% url 'reset_password' %}">Esqueci minha senha</a>
                </label>
            </div>
            
        </form>
        {% elif page == 'register' %}
        <form class="form form-signup" method="POST" action="">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for message in messages %}
                <div class="alert alert-danger">
                    <a class="close" href="#" data-dismiss="alert">×</a>
                    {{ message }}
                </div>
            {% endfor %}
            {% for field in form %}
            <div class="form-group">
                <label for="room_name">{{field.label}}</label>
                {{field}}
            </div>
            {% endfor %}
            <button class="btn btn-primary mt-3" type="submit">Cadastrar</button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}