{% extends "base.html" %}
{% block content %}

<div class="container">

    <div class="row">
        {% if page == 'login' %}
        <form class="form-signin" method="POST" action="">
            {% csrf_token %}
            {% for message in messages %}
                <div class="alert alert-danger">
                    <a class="close" href="#" data-dismiss="alert">×</a>
                    {{ message }}
                </div>
            {% endfor %}
            <div class="form-group">
                <label class="sr-only" for="username">Email address</label>
                <input type="email" class="form-control" id="username" name="username" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="form-group py-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>            
            <div class="form-group">
                <label><a href="{% url 'register' %}">Create account</a></label>
            </div>
            
        </form>
        {% elif page == 'register' %}
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.errors }}
            {{ form.non_field_errors }}
            {% for message in messages %}
                <div class="alert alert-danger">
                    <a class="close" href="#" data-dismiss="alert">×</a>
                    {{ message }}
                </div>
            {% endfor %}
            {% for field in profile_form %}
            <div class="form-group">
                <label for="room_name">{{field.label}}</label>
                {{field}}
            </div>
            {% endfor %}
            <button class="btn btn-primary" type="submit">Register</button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}