<div class="col-12 col-lg-4 recipe-card-col">
    <div class="card recipe-card">
        <a href="{% url 'recipe' recipe.id %}">
            <img 
                class="recipe-photo col-12"
                src="{{ recipe.img.url }}" 
                alt="Image of {{ recipe.name }}"
            />
            <div class="">
                <h1 class="recipe-title">{{ recipe.name }}</h1>
                <div class="recipe-difficulty">
                    Difficulty
                    <br>
                    <i class="bi {% if recipe.difficulty >= 1 %}bi-star-fill{% else %}bi-star{% endif %}"></i>
                    <i class="bi {% if recipe.difficulty >= 2 %}bi-star-fill{% else %}bi-star{% endif %}"></i>
                    <i class="bi {% if recipe.difficulty >= 3 %}bi-star-fill{% else %}bi-star{% endif %}"></i>
                    <i class="bi {% if recipe.difficulty >= 4 %}bi-star-fill{% else %}bi-star{% endif %}"></i>
                    <i class="bi {% if recipe.difficulty >= 5 %}bi-star-fill{% else %}bi-star{% endif %}"></i>
                </div>
                <div class="recipe-duration">
                    <i class="bi bi-clock"></i>{{ recipe.duration }} Minutes
                </div>
            </div>
        </a>
    </div>
</div>