<div class="col-12 col-lg-4 recipe-card-col">
    <div class="card recipe-card mb-4">
        <a href="{% url 'recipe' recipe.id %}">
            <img
                class="recipe-photo col-12"
                src="{{ recipe.img.url }}"
                alt="Imagem de {{ recipe.name }}"
            />

            <div class="">
                <h1 class="recipe-title">{{ recipe.name }}</h1>
                <div class="recipe-difficulty">
                    Dificuldade
                    {% for i in "12345" %}
                        {% if forloop.counter <= recipe.difficulty %}
                            <i class="bi bi-mortarboard-fill difficulty-star"></i>
                        {% else %}
                            <i class="bi bi-mortarboard difficulty-star empty"></i>
                        {% endif %}
                    {% endfor %}
                </div>
                
                <div class="recipe-reviews">
                    Avaliacoes
                    {% for i in "12345" %}
                        {% if forloop.counter <= recipe.average_rating %}
                            <i class="bi bi-star-fill difficulty-star"></i>
                        {% else %}
                            <i class="bi bi-star difficulty-star empty"></i>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="recipe-duration">
                    <i class="bi bi-clock"></i> {{ recipe.duration }} Minutos
                </div>
            </div>
        </a>
    </div>
</div>
