{% extends "base.html" %}
{% block title %}Search for {{ searched }}{% endblock %}
{% include "header.html" %}
{% block content %}
<div class="container">
    <div class="row">

        <div class="col-12">
            {% for item in items %}
            <div class="col-12 col-lg-4">
                <div class="card recipe-card px-1">
                    <div class="row">
                        <img 
                            class="recipe-photo"
                            src="{{ item.img.url }}" 
                            alt="Image of {{ item.name }}"
                        />
                        <h1 class="recipe-title"><a href="{% url 'recipe' item.id %}">{{ item.name }}</a></h1>
                        <div class="recipe-difficulty">
                            Difficulty
                            <br>
                            <i class="bi {% if item.difficulty >= 1 %}bi-star-fill{% else %}bi-star{% endif %}"></i>
                            <i class="bi {% if item.difficulty >= 2 %}bi-star-fill{% else %}bi-star{% endif %}"></i>
                            <i class="bi {% if item.difficulty >= 3 %}bi-star-fill{% else %}bi-star{% endif %}"></i>
                            <i class="bi {% if item.difficulty >= 4 %}bi-star-fill{% else %}bi-star{% endif %}"></i>
                            <i class="bi {% if item.difficulty >= 5 %}bi-star-fill{% else %}bi-star{% endif %}"></i>
                        </div>
                        <div class="recipe-duration">
                            <i class="bi bi-clock"></i>{{ item.duration }} Minutes
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}